@font-face {
  font-family: "Saira";
  src: url("../fonts/saira.ttf");
}

@font-face {
  font-family: "Advent";
  src: url("../fonts/advent.ttf")
}

@font-face {
  font-family: "Advent-Bold";
  src: url("../fonts/advent-bold.ttf")
}
