@font-face {
    font-family: "Abel";
    src: url("../fonts/abel.ttf");
}

@font-face {
  font-family: "Saira";
  src: url("../fonts/saira.ttf");
}

@font-face {
  font-family: "Economica";
  src: url("../fonts/economica.ttf");
}
