.navbar {
  font-variant: all-small-caps;
  font-size: 30px !important;
  padding: 5px 25px 5px 25px;
}

.navbar-title{
  font-size: 36px;
  min-width: 80px;
}

.navbar-title:hover{
  color: #2a5a87;
  font-weight: 400;
}

.navbar-toggler:active, .navbar-toggler:focus{
  outline: 0;
}

.nav-item {
  margin: 0 10px;
}
.nav-item a:hover{
  font-weight: 300;
}

.nav-item-logo{
  margin: 0 !important;
}

.dropdown-menu {
  visibility: hidden;
  display: none;
}

.dropdown:hover .dropdown-menu{
  visibility: visible;
  text-align: center;
  display: block;
  font-size: 30px;
  min-width: 50px;
}
